# **Data Structures**

## 1. List

List digunakan untuk menyimpan banyak item data dalam satu variable. List dibuat dengan menggunakan square bracket. Item di dalam list diurutkan berdasarkan index yang bermula dari index 0. Item yang baru dimasukkan akan diletakkan pada index terakhir. List dapat berubah ukurannya dan membolehkan duplikasi data di dalamnya. Berikut contohnya.

In [4]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

#untuk mengetahui panjang list, gunakan len()
print(len(thislist))

#list dapat digunakan untuk berbagai tipe data
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
#coba anda cetak list1, list2, list3 di atas

#bahkan item di dalam list bisa bervariasi dari jenis tipe datanya
list4 = ["abc", 34, True, 40, "male"]
print(list4)

#saat menggunakan list, sebenarnya kita membuat objek dari class list
print(type(thislist))
#buktinya hasil print di atas mencetak <class 'list'> yang menyatakan bahwa variable thislist merupakan objek class list
#oleh karena itu dengan menggunakan kaedah object oriented, kita juga bisa membuat list dengan cara:
mylist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(mylist)

['apple', 'banana', 'cherry', 'apple', 'cherry']
5
['abc', 34, True, 40, 'male']
<class 'list'>
['apple', 'banana', 'cherry']

In [6]:
#item di dalam list diakses dengan menggunakan index yang bermula dari 0
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[1])

#uniknya list pada Python bisa berupa negatif yang bermakna mengakses data dari akhir data list
print(thislist[-1])
print(thislist[-2])

#bisa juga memilih rentang index (tanpa perlu pakai loop)
print(thislist[2:5])    #dari index 2 hingga sebelum index 5

#apabila tidak ada index awal, berarti bermula dari index 0
print(thislist[:4])

#apabila tidak ada index akhir, berarti akan berakhir hingga index terakhir
print(thislist[2:])

banana
mango
melon
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [7]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
#mengubah isi list, langsung dengan mengakses indexnya
thislist[1] = "blackcurrant"
print(thislist)

#mengubah isi list bisa dalam range tertentu
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

#apabila kita ingin menambah, bukan mengubah konten, maka gunakan insert()
thislist.insert(2, "banana")
print(thislist)

#apabila ingin memasukkan item data pada list yang terakhir, dapat gunakan append()
thislist.append("pineapple")
print(thislist)

#menghapus data dalam list dapat dengan remove()
thislist.remove("banana")
print(thislist)

#atau dapat menghapus pada index tertentu dengan pop()
thislist.pop(1)
print(thislist)

#pop tanpa index akan menghapus item paling terakhir
thislist.pop()
print(thislist)

#menghapus item data pada list juga bisa pakai del
del thislist[0]
print(thislist)
#namun hati-hati menggunakan del, jika hanya "del thislist" saja maka objek thislist akan terhapus sama sekali

#membersihkan list dapat menggunakan clear()
thislist.clear()
print(thislist)

['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'blackcurrant', 'banana', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'blackcurrant', 'banana', 'watermelon', 'orange', 'kiwi', 'melon', 'mango', 'pineapple']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango', 'pineapple']
['apple', 'watermelon', 'orange', 'kiwi', 'melon', 'mango', 'pineapple']
['apple', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']
['watermelon', 'orange', 'kiwi', 'melon', 'mango']
[]

## 2. Tuple

Tuple digunakan untuk menyimpan data dengan bentuk yang mirip dengan list bermakna item data tersusun terurut berdasarkan index. Bedanya tuple bersifat immutable, bermakna apabila tuple sudah dibuat maka tuple tidak bisa diubah, ditambah dan dihapus itemnya. Berikut contohnya.

In [9]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

#akses item dalam tuple menggunakan index
print(thistuple[1])

#penggunaan lain dari index juga sama seperti list, jadi tidak dicontohkan lagi, namun silakan mencoba sendiri

('apple', 'banana', 'cherry', 'apple', 'cherry')
banana

## 3. Dictionary

Dictionary digunakan untuk menyimpan data berupa pasangan key dan value. Jadi bayangkan konsepnya mirip seperti kamus, di mana key sebagai kata lalu value sebagai makna kata. Dictionary menggunakan curly bracket. key dan value dipisahkan dengan colon atau titik dua. Berikut contohnya.

In [10]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
print(car)

#mengakses value dengan menggunakan key
print(car["brand"])

#mengakses value dapat juga menggunakan method get()
print(car.get("model"))

#key juga dapat langsung diakses semua
x = car.keys()
print(x)

#mengubah item data
car["year"] = 2018
print(car)

#selain itu item data juga dapat diubah dengan method update()
car.update({"year": 2020})
print(car)

#menambah item data
car["color"] = "red"
print(car)

#selain itu item data juga dapat ditambah dengan method update()
car.update({"owner": "Mr. Brown"})
print(car)

#menghapus item data dengan menggunakan pop()
car.pop("model")
print(car)

#item data paling terakhir dapat dihapus dengan popitem()
car.popitem()
print(car)

#del juga dapat digunakan untuk menghapus
del car["year"]
print(car)
#namun hati-hati menggunakan del sebab dapat menghapus keseluruhan dictionary: del car

#membersihkan item data dari dictionary dapat menggunakan clear()
car.clear()
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
Mustang
dict_keys(['brand', 'model', 'year'])
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red', 'owner': 'Mr. Brown'}
{'brand': 'Ford', 'year': 2020, 'color': 'red', 'owner': 'Mr. Brown'}
{'brand': 'Ford', 'year': 2020, 'color': 'red'}
{'brand': 'Ford', 'color': 'red'}
{}

## 4. Set

Set digunakan untuk menyimpan banyak item data di dalam satu variabel. Namun set bersifat unordered dan unindexed (tanpa index). Set ditulis di dalam curly bracket. Sifat unordered bermakna tidak ada urutan. Sehingga contohnya apabila dicetak maka hasil cetakan akan bervariasi. Seperti tuple, set juga immutable. Sehingga sesudah set dibuat maka kita tidak bisa mengubah item data di dalamnya. Selain itu set juga tidak membolehkan data yang duplikat. Sehingga apabila ada data yang duplikat maka tidak akan dianggap.

In [12]:
thisset = {"apple", "banana", "cherry", "banana"}
print(thisset)

#set tidak dapat diakses menggunakan index ataupun key. Namun bisa pakai pengujian seperti contoh di bawah
print("banana" in thisset)

#item data pada set tidak bisa diubah namun kita bisa menambah data baru
thisset.add("orange")
print(thisset)

#set juga dapat ditambah dengan update()
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

#item data dapat dihapus dengan remove()
thisset.remove("banana")
print(thisset)

#item data dapat dihapus juga dengan discard()
thisset.discard("cherry")
print(thisset)

{'cherry', 'banana', 'apple'}
True
{'cherry', 'orange', 'banana', 'apple'}
{'cherry', 'orange', 'banana', 'papaya', 'pineapple', 'mango', 'apple'}
{'cherry', 'orange', 'papaya', 'pineapple', 'mango', 'apple'}
{'orange', 'papaya', 'pineapple', 'mango', 'apple'}

# **Conditional Statement (pengujian)**

Pengujian akan mengembalikan nilai binary atau boolean berdasarkan kondisi yang diberikan. Kondisi dapat menggunakan operator ==, !=, <, <=, >, >=. Jika hasil dari kondisi adalah true ataupun 1 maka blok sesudah pengujian akan dieksekusi, sebaliknya tidak akan dieksekusi.

Pengujian dapat menggunakan beberapa bentuk berikut ini:

- if
- if-else
- if-elif-else

In [13]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [14]:
#Python sangat mementingkan indentation. Scope dari suatu blok menggunakan indentation. Kalau pada bahasa pemrograman lain menggunakan *curly bracket*.
#Jadi statemen seperti berikut ini akan error.
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: ignored

In [15]:
marks = 45
if marks >= 80:
    print("You got A Grade")
elif marks >=60 and marks <80:
    print("You got B Grade")
else:
    print("You got C Grade")

You got C Grade

# **Control Flow Statement (loop)**

Python memiliki 2 perintah loop:

- while loop
- for loop

Loop yang menggunakan while akan dieksekusi selagi kondisi bernilai benar. Loop yang menggunakan for biasanya digunakan untuk mengiterasi suatu sequence (seperti list, tuple, dictionary, set, ataupun string). Jadi sifatnya lebih mirip seperti for-each.

In [16]:
#Contoh penggunaan while
count = 1
while count<=5:
    table = 2*count
    count = count+1
    print (table)
    
#Contoh penggunaan for
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    
for x in "banana":
    print(x)

#Python juga memiliki keyword break dan continue yang penggunaannya sama seperti pada bahasa pemrograman lainnya
for x in fruits:
    print(x)
    if x == "banana":
        break
    
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

2
4
6
8
10
apple
banana
cherry
b
a
n
a
n
a
apple
banana
1
2
4
5
6

# **Function / fungsi**

Fungsi digunakan untuk membuat kode dalam satu wrapper sehingga fungsi tersebut nanti dapat dipergunakan berulang kali bila diperlukan. Fungsi dibuat dengan menggunakan kata kunci def.

In [17]:
#Misal kita ingin membuat fungsi tabel perkalian dari suatu nilai a sebanyak 10 item
def tabel_kali (a):
    for i in range(10):
        tabel_kali = a*(i+1)
        print(tabel_kali)

tabel_kali(5)

5
10
15
20
25
30
35
40
45
50